################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fusion_Flow_V3_QAS.slnx/FileContentIndex
